<html lang="kr">
<head>
  <title>채민 게시판</title>
  <meta charset = "utf-8">
  <style>
    h1 {margin: 30px 30px;}
    h2 {margin: 30px 50px; flex: 1;}
    hr {margin: 20px}
    .big-box { border: dashed black 1px; margin-left: auto; margin-right: auto;}
    .sub-title {display: flex;}
    .write { flex: 1; width: 20%; height: 100%; margin-left: 80%;}
    .small-box { border: dashed black 1px; margin-left: 50px; margin-right: 50px; margin-bottom: 50px}
	table {width:100%; margin-left:auto; margin-right:auto;}
	td {text-align:center}
	.page{width: 50%;}
    .page-item{list-style: none; display: inline-block; padding:0;}
    .page-item li {display: inline;. text-align: center;}
    .page-item a { float: left; display: block; font-size: 20px; padding: 5px 10px; color: black;}
  </style>
</head>
<body>
  <div class="big-box">
    <h1>채민 게시판</h1>
    <hr>
    <div class="sub-title">
      <h2>전체 게시글 목록<h2>
      <button class="write" type="button" onclick="location.href='/new-post/write'">
        글쓰기
      </button>
    </div>
    <div class="small-box">
      <div class="post-list">
      <!-- 게시글 목록 -->
        <table id="board">
		  <thead>
			<tr>
			  <th style="width: 10%; height: 6vh;">게시글 번호</th>
			  <th style="width: 40%; height: 6vh;">제목</th>
			  <th style="width: 20%; height: 6vh;">작성 일자</th>
			  <th style="width: 10%; height: 6vh;">작성자</th>
			</tr>
		  </thead>
		  <!-- 게시글 목록 보여주는 ejs -->
		  <tbody>
		    <% for (i=0; i<list.length; i++) { %>
            <tr>
			  <td><%=list[i].게시글ID%></td>
			  <td style="text-align:left"><a href="/post/<%=list[i].게시글ID%>"><%=list[i].제목%></a></td>
			  <td><%=list[i].작성일자%></td>
			  <td><%=list[i].작성자%></td>
            </tr>
		    <% } %>
		  </tbody>
       </table>
      </div>
    </div>
	<center>
		<form>
		  <div class="page">
			<ul class="page-item">
			  <% for (i=1; i<=total; i++) { %>
				  <li> <a href="/mainpage/<%=i%>" class="num"><%=i%></a><li>
			  <% } %>
			</ul>
		  </div>
		</form>
    </center>
  </div>
</body>
</html>

